body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}

.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}

.alignItems-center {
  align-items: center;
}

.justifyContent-center {
  justify-content: center;
}
.screen-10 {
  height: 10vh;
}
.full-screen-w {
  height: 100vw;
}
.full-screen {
  height: 100vh;
}
.full-screen-10 {
  height: 90vh;
}

.sideBar-bg {
  text-align: center;
  font-size: 27px;
  color: #fff;
  padding-bottom: 11px;
  background-color: rgb(34,186,160);
  
}

.link{
  text-decoration: none;
}

.linkColor{
  color: black;
}

.activelink {
  background-color: #34425a;
}

.smallWidth {
  width: 70px;
}

.bigWidth {
  width: 160px;
}

.marg{
  margin: 0 20px;
}

.div{
  padding-bottom: 50px;
  height: 65vh;
  overflow-y: scroll;
}

.div::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 750px) {
  .smallWidth {
    width: 160px;
  }

  .sideBar-bg {
    text-align: center;
    font-size: 27px;
    color: #fff;
    padding-bottom: 11px;
    background-color: rgb(34,186,160);
    
  }
}